body {
    background-color: rgb(3, 3, 87);
}

h1 {
    text-align: center;
    color: yellow;
}

.sarlavha {
    text-align: center;
    color: white;
}

.highlight-green{
    color: yellowgreen;
}

.highlight-blue {
    color: yellowgreen;
}

.imgmars {
    border: 5px solid yellow;
}

.info-table {
            width: 100%;
            border-collapse: collapse;
            margin: 30px 0;
            color: white;
        }

        .info-table th,
        .info-table td {
            border: 2px solid yellow;
            padding: 15px;
            text-align: center;
            
        }

        .info-table th {
            background: rgba#4a5f9d;
            font-size: 18px;
        }

        .info-table td {
            background: rgba#4a5f9d;
            font-size: 16px;
        }

.paragrf {
    text-align: center;
    color: white;
}
input {
    width: 100% ;
    height: 30px;
}
button {
    width: 300px;
    height: 30px;
    color: black;
    background-color: yellow;
    border-radius: 120px;

   
}

.btn{
    align-items: center;
    text-align: center;
    width: 500px;
    margin: auto;
}
